<nav>
    <div class="principallink">
        <a href="/">Home</a>
        <a href="/posts/profile">Profile</a>
        <a href="/posts">All post</a>
    </div>
    <div class="buttonrelo">
        <a href="/posts/register">Register</a>
        <a href="/posts/login">Login</a>
    </div>    
</nav>