<nav>
    <div class="principallink">
        <a href="/">Home</a>
        <a href="/posts/profile">Profile</a>
        <a href="/posts">Posts</a>
    </div>
    <div class="buttonrelo">
        <a href="/login" class="login-btn">Login</a>
        <a href="/register" class="register-btn">Register</a>
    </div>
</nav>
