 <h1>Edit Profile</h1>

    <form action="/posts/profile/edit/{{user.userId}}?_method=PUT" method="post" enctype="multipart/form-data">
        <label for="userName"><b>Username:</b></label>
        <input type="text" name="userName" value="{{user.userName}}">

        <label for="photo"><b>Photo:</b></label>
        <input type="file" name="photo"
        value="{{user.photo}}">

        <button type="submit">Update Profile</button>
    </form>

    <a href="/posts/profile">Back to Profile</a>