<h1>Welcome to {{title}}</h1>

<div>
  <ul>
  {{#each post}}
    <li><b><a class="decoration">{{this.authorUserName}}</b>: {{this.content}}
    <img src="{{this.photo}}" alt="Post Image"></a></li>
  {{/each}}
</ul>
</div>