<form action="/posts/profile/update/{{post.id}}?_method=PUT" method="post" enctype="multipart/form-data">
  <label for="content"><b>Post:</b></label>
  <input name="content" type="text" value= '{{post.content}}'/> 
      <label for="photo"><b>Photo:</b> </label>
    <input type="file" name="photo">
  <button type="submit">Update</button>
</form>