<form
  action="/posts/profile/update/{{post.id}}?_method=PUT"
  method="post"
  enctype="multipart/form-data"
  class="updated-container"
>
<div class="form-group">
  <label for="content"><b>Post:</b></label>
  <input name="content" type="text" value="{{post.content}}"/></div>
  <div class="form-group">
  <label for="photo"><b>Photo:</b> </label>
  <input type="file" name="photo" />
  </div>
  <button type="submit" class="submit-button">Update</button>
</form>