* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("images/fondoproyecto.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  color: white;
}

nav {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
}

.principallink a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.3s;
}

.buttonrelo a {
  color: #fad348;
  text-decoration: none;
  margin-left: 20px;
}

.login-btn,
.register-btn {
  padding: 8px 15px;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.login-btn:hover,
.register-btn:hover {
  background-color: #fff;
  color: #00000071;
}

.principallink a:hover {
  color: #fad348;
}

.description-container, .profile-container {
  max-width: 800px; 
  margin: 0 auto; 
  padding: 25px; 
  background-color: #00000071; 
  border: 2px solid #fd000065; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
  padding: 100px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.btn-register, .edit-profile-link, .logout-link, .back-profile-link, .edit-post-link, .delete-post-button {
   padding: 15px 30px;
  text-decoration: none;
  background-color: #fff;
  color: #333;
  border: 2px solid #ff0000;
  border-radius: 20px; 
  transition: background-color 0.3s, color 0.3s;
}

.btn-register:hover, .edit-profile-link:hover, .logout-link:hover, .back-profile-link:hover, .edit-post-link:hover, .delete-post-button:hover {
  background-color: #ffffff00;
  color: #fff;
}

.edit-profile-link, .logout-link {
  padding: 10px 30px;
  
}

.user-info {
  margin-bottom: 50px;
}

.user-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.user-photo {
  width: 50px;
  height: 50px;
object-fit: cover;
  border-radius: 10px;
}

.post-list {
  list-style: none;
  padding: 0;
  margin-bottom: 30px; 
}

.post-author {
  text-decoration: none;
  color: #fd000065;
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.post-content {
  color: #fff;
  max-width: 300px;
  word-wrap: break-word;
  margin-bottom: 50px;
}

.post-image {
  max-width: 300px; 
  max-height: 200px; 
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: contain;
}

.post-form, .edit-profile-form, .postOptions {
  max-width: 600px;
  margin: 20px auto;
  padding: 15px;
  background-color: #00000071;
  border: 2px solid #fd000065;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-top: 5px;
}

.post-form button, .edit-profile-form button {
  background-color: #00000071;
  color: white;
  padding: 10px 20px;
  border: 2px solid #fd000065;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.post-form button:hover, .edit-profile-form button:hover {
  background-color: #00000071;
  color: #fd000065;
}

.form-group {
  margin-bottom: 15px;
  box-sizing: border-box;
  width: 350px;
  display: flex;
}

 
 
 
 
 
