* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("images/fondoproyecto.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  color: white;
}

.container {
  padding: 100px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

nav {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
}

.principallink a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.3s;
}

.buttonrelo a {
  color: #fad348;
  text-decoration: none;
  margin-left: 20px;
}

.login-btn,
.register-btn,
.create-post-btn,
.edit-profile-link,
.logout-link {
  padding: 8px 15px;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.login-btn:hover,
.register-btn:hover,
.create-post-btn:hover,
.edit-profile-link:hover,
.logout-link:hover {
  background-color: #fff;
  color: #333;
}

.principallink a:hover {
  color: #fad348;
}

img {
  width: 25%; /* Haciendo que las imágenes tengan un tamaño 25% más pequeño */
  border-radius: 15px;
  object-fit: cover;
}

/* Agregando estilos específicos para tus clases Handlebars */
.user-photo {
  width: 80px; /* Tamaño específico para la foto de perfil */
  border-radius: 40px;
  object-fit: cover;
}

.user-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.post-list {
  list-style: none;
  padding: 0;
}

.post-list li {
  margin-bottom: 20px;
  text-align: center; /* Alineando el texto en el centro */
}

.post-author {
  text-decoration: none;
  color: #fff;
}

.post-author:hover {
  text-decoration: underline;
}

.post-form {
  margin-top: 20px;
  text-align: center;
  width: 40%; /* Reduciendo el cuadrado de escritura de post en un 60% */
}

.post-content,
.post-photo {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.profile-links {
  text-align: center;
  margin-top: 20px;
}

.edit-profile-link,
.logout-link {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}

.edit-profile-link:hover,
.logout-link:hover {
  text-decoration: underline;
}
